<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!DOCTYPE xml>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.snow1k.bd.eclipse.startup.BetterDecompilerStartup"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="org.snow1k.bd.eclipse.preferences.PreferencePage"
            id="org.snow1k.bd.eclipse.preferences.PreferencePage"
            name="Better Decompiler">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.snow1k.bd.eclipse.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="org.snow1k.bd.eclipse.editors.JDClassFileEditor"
            class="org.snow1k.bd.eclipse.editors.JDClassFileEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="class"
            default="true"
            icon="icons/jd_16.png"
            name="Better Decompiler Class File Viewer">
      </editor>
   </extension>   
</plugin>
